[Desktop Entry]
Type=Application
Name=Blockbuster
GenericName=Workspace configuration
Comment=Configure your workspaces
Exec=com.github.donadigo.blockbuster
Icon=com.github.donadigo.blockbuster
Terminal=false
Categories=Utility;GTK;DesktopSettings;
Keywords=workspace;configure;